.nature:hover {
   opacity: 0.0;
}
.picture:hover{
    opacity: 0.1;
}
.butterfly:hover{
    opacity: 0.2;
}
.green-grass-spring-bokeh-sunlight_290431-2091.avif:hover{
    opacity: 0.3;
}
.spring:hover{
    opacity: 0.4;
}